@charset "utf-8";

/* 푸터 스타일 */
.footer {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로 방향으로 요소들을 정렬 */
    justify-content: space-between; /* 요소들을 위아래로 균등하게 분배 */
    padding-top: 15px 0; /* 위쪽 패딩 설정 */
}

/* 푸터 문단 스타일 */
.footer p {
    color: #b0adad; /* 글자색 설정 */
    font-family: "Pretendard-Semibold"; /* 폰트 설정 */
    padding: 10px 0; /* 상하 패딩 설정 */
    text-align: center;
}

/* 푸터 SNS 스타일 */
.ft-sns {
    text-align: center; /* 텍스트 가운데 정렬 */
}
.ft-sns img {
  width: 100%;
}

.ft-menu {
  text-align: center; /* 텍스트 가운데 정렬 */
  word-spacing: 10px; /* 단어 사이 간격 설정 */
  line-height: 40px; /* 줄 높이 설정 */
  font-size: 13px; /* 폰트 크기 설정 */
  transition: font-size 0.3s ease, color 0.3s ease; /* 호버 시 트랜지션 효과 */

  /* 초기에 글자색 설정 */
  color: #333;
}

/* 호버 시 스타일 변경 */
.ft-menu:hover {
  font-size: 15px; /* 호버 시 폰트 크기 증가 */
  color: #ff6347; /* 호버 시 글자색 변경 */
}

/* 푸터 저작권 스타일 */
.ft-copy {
    order: 2; /* flex 요소 순서 설정 */
    width: 100%; /* 너비 100% 설정 */
    height: 78px; /* 높이 78px 설정 */
    background-color: #282525; /* 배경색 설정 */
    margin-bottom: auto; /* 아래 여백 자동으로 설정 */
}

.ft-copy  p {
    font-size: 30px; /* 글자 크기 설정 */
    color: #fff; /* 글자색 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
    /* line-height: 78px; */ /* 주석 처리: ft-copy의 높이에 맞추어 수직 중앙 정렬 */
}
