@charset "utf-8";

/* 헤더 공지 영역 스타일 */
.header-notice {
  width: 100%; /* 전체 너비 설정 */
  height: 53px; /* 높이 설정 */
  background-color: #282525; /* 배경색 설정 */
  color: #fff; /* 글자색 설정 */
  text-align: center; /* 가운데 정렬 */
  line-height: 50px; /* 줄 높이 설정 */
  font-size: 26px; /* 글자 크기 설정 */
  display: flex; /* 플렉스 박스 설정 */
  justify-content: center; /* 가로 중앙 정렬 */
  position: relative; /* 위치 설정 */
}

/* 오른쪽 및 왼쪽 배경 처리 */
.vector-R > img {
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 상단 여백 설정 */
  left: 30%; /* 좌측 여백 설정 */
  transform: translate(-0%, -50%); /* 이동 변형 적용 */
}

.vector-L > img {
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 상단 여백 설정 */
  right: 30%; /* 우측 여백 설정 */
  transform: translate(-0%, -50%); /* 이동 변형 적용 */
}

/* 로고 이미지 스타일 */
.logo a {
  display: flex; /* 플렉스 박스 설정 */
  justify-content: center; /* 가로 중앙 정렬 */
}

.logo img {
  width: 110px; /* 너비 설정 */
}
