@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.wrap{
    width: 1920px;
    height: 2426px;
    margin: 100px auto;
    background-color: #F0F0F0;
    position: relative;
}
.header-notice{
    width: 100%;
    height: 53px;
    background-color: #282525;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-family: pretandard;
    font-size: 26px;
}
.nav{
    width: 100%;
    height: 182px;
    background-color: rgb(145, 145, 145);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
.nav ul li {
    display: inline-block;
    margin: 0 10px;
}
.nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    display: block;
}
.nav ul li a:hover {
    background-color: #f0f0f0;
}
.nav ul li.sb a {
    color: red;
}
.submenu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.submenu.left {
    text-align: left;
}

.submenu.right {
    text-align: right;
}
.logo img{
    width: 110px;
    
}

.contents{
    width: 100%;
    height: 1837px;
    background-color: #5a5555;
    display: flex;
}
.contents ul {
    list-style: none;
    flex-direction: column;
    display: flex;
    flex-direction: row-reverse
}
.contents .eu {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.contents .eu > h1 {
    margin-right: 10px;
    white-space: nowrap;
}

.contents .eu li {
    display: inline-block;
    margin-right: 10px;
}

.contents .eu li a {
    display: block;
}

.jp-wrapper {
    display: flex;
    align-items: center;
    margin: 40px 0; /* 유럽 부분과의 여백을 위한 추가 */
}

.jp-wrapper > h1 {
    margin-right: 10px;
    white-space: nowrap;
}

.contents .jp {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.contents .jp li {
    display: inline-block;
    margin-right: 10px;
}

.contents .jp li a {
    display: block;
}
.contents li {
    display: inline-block;
    margin-right: 10px;
}
.contents li a {
    display: block;
}
.footer{
    width: 100%;
    height: 356px;
    background-color: rgb(76, 76, 76);
    position: relative;
}
.ft-copy{
    width: 100%;
    height: 78px;
    background-color: #282525;
}
.ft-copy > p{
    font-size: 24px;
    color: #fff;
    text-align: center;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 356px;
    background-color: rgb(76, 76, 76);
}

.ft-copy {
    order: 2; /* ft-copy를 마지막으로 이동 */
    width: 100%;
    height: 78px;
    background-color: #282525;
    margin-top: auto; /* 상단에 여백 추가하여 아래로 이동 */
}

.ft-copy > p {
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 78px; /* ft-copy의 높이에 맞추어 수직 중앙 정렬 */
}