@charset "utf-8";
@import url("responsive.css");
@import url("sale_copy.css");
@import url("icon.css");
@import url("nav.css");
@import url("header.css");
@import url("contents.css");
@import url("footer.css");
@import url("modal.css");

/* 전역 스타일 초기화 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* Pretendard-Regular 폰트 로드 */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  font-size: 8px;
}
/* 모든 링크와 문단에 Pretendard-Regular 폰트 적용 */
a,
p,
h2 {
  font-family: "Pretendard-Regular" !important;
}
/* 전체 컨텐츠를 감싸는 최대 너비 설정 및 가운데 정렬 */
.wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #f0f0f0;
}
